@font-face {
    font-family: 'Gambetta-Regular';
    src: url('~/font/Gambetta-Regular.otf');
}

$font-weight: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700
);
$font-family: (
    default: #{
        'Helvetica Neue',
        'Helvetica',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        sans-serif
    },
    en: #{
        'Gambetta-Regular',
        'Helvetica Neue',
        'Helvetica',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        sans-serif
    },
);

@mixin typo($lv, $type) {
    @if $lv == 'display' {
        @if $type == 180 {
            font-size: 18rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: 16.2rem;

        } @else if $type == 140 {
            font-size: 14rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: .9;
        } @else if $type == 80 {
            font-size: 8rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: .9;
        } @else if $type == 60 {
            font-size: 6rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: .9;
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'heading' {
        @if $type == 64 {
            font-size: 6.4rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, light);
            line-height: 1.5;
        } @else if $type == 48 {
            font-size: 4.8rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: .9;
        } @else if $type == 32 {
            font-size: 3.2rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, light);
            line-height: 1.5;
            letter-spacing: .16rem;

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
                font-weight: map-get($font-weight, normal);
                line-height: 1.2;
                letter-spacing: normal;
            }
        } @else if $type == 28 {
            font-size: 2.8rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
            line-height: 1.2;
        } @else if $type == 24 {
            font-size: 2.4rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, normal);
            line-height: 1.5;
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'body' {
        @if $type == 20 {
            font-size: 2rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, normal);
            line-height: 1.5;
        } @else if $type == 16 {
            font-size: 1.6rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, normal);
            line-height: 1.5;

            @include media-breakpoint-down(medium) {
                font-size: 1.4rem;
            }
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'small' {
        @if $type == 12 {
            font-size: 1.2rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, medium);
            line-height: normal;
        } @else if $type == 10 {
            font-size: 1rem;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, normal);
            line-height: normal;
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else {
        @error '#{$lv}:沒有這個level';
    }
}
